            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Kathya Chanel Naranjo Santos</span>
                        <div>DesarrolloWeb-Practica2</div>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->