<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UTM</title>
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200, 2001, 300, 300, 400, 400, 600, 6001, 700, 7001, 800, 8001,900, 9001"
          rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <partial name="_Sidebar.cshtml" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_Topbar.cshtml" />
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                                         
                    </main>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <partial name="_Footer.cshtml" />

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="https://kit.fontawesome.com/be736cc148.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>